html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
    font-family: 'GT Eesti Display Trial';
}

a:hover {
    color: hotpink;
}

a:link {
    color: white;
}

body{
 height: 100vh;
 margin: 0;
 padding 0;
 color: #ffffff; /* White text color */
  background: linear-gradient(180deg, rgba(9,9,121,1) 0%, rgba(0,74,255,.75) 13%, rgba(0,212,255,0) 20%);
}

div {
  margin: auto; /* center divs */
  text-align: center;
}

@media only screen and (max-width: 600px) {
    iframe{      
            margin: auto;
            display: block;  /* iframes are inline by default */   
            height: 100vh;  /* Set height to 100% of the viewport height */   
            width: 100vw;  /* Set width to 100% of the viewport width */     
            border: none; /* Remove default border */
            background: lightyellow; /* Just for styling */
    }
    
}

@media only screen and (min-width: 600px) {
    iframe{      
            margin: auto;
            display: block;  /* iframes are inline by default */   
            height: 100vh;  /* Set height to 100% of the viewport height */   
            width: 100vw;  /* Set width to 100% of the viewport width */     
            border: none; /* Remove default border */
            background: lightyellow; /* Just for styling */
    }
    
}
